body{
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    background-color: #696969;
}

.navbar-brand {
    width: 100px;
}

.navbar-brand h1:hover {
    color: #DA70D6;
}

.navbar-collapse{
    flex-grow: unset;
}

.navbar {
    border-bottom: 3px solid #8A2BE2;
}

.navbar  .navbar-nav .nav-link:hover{
    color: #DA70D6;    
}

.navbar .navbar-nav .nav-link:active{
    color: black;
    font-weight: bold;
    color: #DA70D6
}

.intro{
    display: flex;
    align-items: center;
    height: 60vh;
}

.intro img{
    width: 100%;
    /* border-radius: 50%;
    border: 3px solid lightblue;
    overflow: hidden; */
}

.name{
    font-size: 30px;
    text-align: center;
    
}

.position{
    font-size: 70px;
    text-align: center;    
}

.location{
    font-size: 65px;
    text-align: center;   
    color: red; 
}

.description{
    font-size: 20px;
    text-align: center;
}

.btn {
    background-color: #8A2BE2;
    border: 1px solid #fff;
    color: #fff
}

@media(max-width:756px) {
    .position{
        font-size: 35px;
        text-align: center;    
    }
    
    .location{
        font-size: 30px;
        text-align: center;   
        color: red; 
    }

    .intro img{
        width: 400px;
        border-radius: 50%;
        border: 3px solid lightblue;
        overflow: hidden;
    }
}
